.buildpath
.classpath
.cproject
.DS_Store
.externalToolBuilders/
.gradle
.idea/
.loadpath
.metadata
.mtj.tmp/
.project
.settings/
.target
.texlipse
*.bak
*.class
*.ear
*.iml
*.jar
*.launch
*.pydevproject
*.swp
*.tmp
*.war
*~.nib
ajcore*
bin/
hs_err_pid*
local.properties
node_modules/
pom.xml.next
pom.xml.releaseBackup
pom.xml.tag
pom.xml.versionsBackup
release.properties
target/
tmp/
