
.buildpath
.classpath
.cproject
.DS_Store
.externalToolBuilders/
.gradle
.idea/
.loadpath
.metadata
.mtj.tmp/
.project
.settings/
.target
.texlipse
*.bak
*.class
*.ear
*.iml
*.jar
*.launch
*.pydevproject
*.swp
*.tmp
*.war
*~.nib
# CDT-specific
# Created by https://www.gitignore.io
# External tool builders
# Locally stored "Eclipse launch configurations"
# Mobile Tools for Java (J2ME)
# Package Files #
# PDT-specific
# sbteclipse plugin
# TeXlipse plugin
# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
### Eclipse ###
### Java ###
### Maven ###
ajcore*
bin/
hs_err_pid*
local.properties
node_modules/
pom.xml.next
pom.xml.releaseBackup
pom.xml.tag
pom.xml.versionsBackup
release.properties
target/
tmp/
